* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Open Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}
.gallery {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    gap: 48px 24px;
}
/* .gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
} */

.li {
    /* width: 360px;
    height: 300px; */
    overflow: hidden;
}
img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
}
.change-color {
    background: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.widget {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.task-third-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
}
.task-third-h {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.task-third-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    background: #fff;
}

.login-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.email-task-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.password-task-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.btn-task4 {
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.inp-eml {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.inp-psw {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}
ul {
    list-style: none;
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: 264px;
}

.points {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 10px;
}
.points-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
}

.categories-cont {
    background: #f6f6fe;
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: 264px;
}

#controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    padding: 32px;
    background: #f6f6fe;
    width: 486px;
    height: 104px;
}

#item-count {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    width: 150px;
    height: 40px;
}
#boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 44px;
    padding: 32px;
    flex-wrap: wrap;
}
.box {
    width: 30px;
    height: 30px;
}

#btn-create {
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

#btn-destroy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #ff4e4e;
}

#input-number {
    display: flex;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 8px 58px;
}
